<div class="team-member col-xs-6">
  <!-- <a href="#" class="thumbnail"> -->
    <img class="col-xs-12 col-sm-12 about-photo" src={{img}} />
  <!-- </a> -->
  <div class="about-text col-xs-12 col-sm-12">
    <p class="about-name">{{name}}</p>
    <p>{{bio}}</p>
    <a target="_blank" href="{{twitter}}"><img src=/img/icons/twitter.png></a>
    <a target="_blank" href={{linkedin}}><img src=/img/icons/linkedin.png></a>
    <a target="_blank" href={{github}}><img src=/img/icons/github.png></a>
  </div>
</div>
