<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="well about-tile">
    <img class="about-photo center-block img-responsive" src={{img}} />
    <div class="about-text">
      <p class="about-name">{{name}}</p>
      <p>{{bio}}</p>
      <a target="_blank" href="{{twitter}}"><img src=/img/icons/twitter.png></a>
      <a target="_blank" href={{linkedin}}><img src=/img/icons/linkedin.png></a>
      <a target="_blank" href={{github}}><img src=/img/icons/github.png></a>
    </div>
  </div>
</div>
