.testimonials {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  font-style: italic;
}

.wall-instructions {
  text-align: center;
}

.contact-map {
  width: 100%;
  float: left;
}

#request-success {
  margin-top: 5rem;
}
