#primary-nav .navbar-brand {
  padding: 10px 10px 10px 15px;
}

#nav-spacing {
  /* bumps down so that content is not covered by navbar */
  margin-top: 50px;
}

#landing-carousel {
  display: none;
}

#landing-header {
  padding: 0px;
}

#landing-header img {
  width: 100%;
}

.panel .section-header {
  margin-top: 0px;
  margin-bottom: 16px;
}

.top-row {
  margin-top: 36px;
}

#sec-login .alert {
  margin-bottom: 10px;
  font-weight: bold;
  padding: 10px 15px;
}

/* Wall Grid module styling*/
.grid-request {
  border: 1px solid #777576;
  height: 35em;
  /*max-height: 50em;*/
}

.claim-button-grid-view {
  margin-bottom: 10px;
}

/*About page styling*/

.about-headline {
  text-align: center;
  padding-bottom: 15px;
}

.about-hr {
  border-top: 2px solid #eee;
  margin: 10px 0px -10px 0px;
}

.about-mission {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 20px;
  font-size: 1.1em;
}

.about-photo {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.about-text {
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.about-text a:hover{
  text-decoration: none;
  opacity: 0.6;
}

.about-name {
  font-weight: bold;
}

/*End about page styling*/
/*Contact page styling*/

.contact-headline {
  text-align: center;
  padding-bottom: 10px;
}

.contact-map {
  float: right;
  padding: 10px;
}

.contact-icon {
  width: 2em;
}

.contact-info a:hover {
  text-decoration: none;
  opacity: 0.6;
}

.contact-info {
  padding: 40px 20px 20px 20px;
}

/*End contact page styling*/
/*Stats page styling*/
.stats-header {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #5a3440;
  margin-top: 36px;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
}

.stats-sider-left {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #5a3440;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
}

.stats-sider-right {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #5a3440;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
}

.stats-title-left {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #5a3440;
  text-align: center;
  font-size: 1.1em;
  padding: 5px;
}

.statistic-bold {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #5A3453;
  text-align: center;
  font-size: 2.5em;
}

/*End stats page styling*/

@media (min-width: 768px) {
  #landing-header {
    display: none;
  }

  #landing-carousel {
    display: block;
  }

  .carousel-inner {
    width: 100%;
    min-height: 200px !important;
    max-height: 400px !important;
    vertical-align: middle;
  }

  .carousel-inner img {
    width: 100%;
  }

  .carousel-caption {
    position: absolute;
    top: 50px;
    left: 15%;
    right: 60%;
    text-align: left;
  }
}

#landing-nav button {
  min-height: 50px;
  margin-bottom: 6px;
}

@media (min-width: 768px) {
  #landing-nav {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 6px;
  }

  #landing-nav button {
    min-height: 200px;
    margin: 6px;
    font-size: 1.8rem;
  }
}
