#primary-nav .navbar-brand {
  padding: 10px 10px 10px 15px;
}

#nav-spacing {
  /* bumps down so that content is not covered by navbar */
  margin-top: 50px;
}

#landing-carousel {
  display: none;
}

#landing-header {
  padding: 0px;
}

#landing-header img {
  width: 100%;
}

/*About page styling*/

.about-headline {
  text-align: center;
  padding-bottom: 5px;
}

.about-hr {
  border-top: 2px solid #eee;
  margin: 10px 0px 0px 0px;
}

.about-photo {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.about-text {
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.about-name {
  font-weight: bold;
}

/*End about page styling*/
/*Contact page styling*/

.contact-headline {
  text-align: center;
  padding-bottom: 10px;
}

.contact-map {
  float: right;
  padding: 10px;
}

.contact-icon {
  width: 2em;
}

.contact-info {
  padding: 40px 20px 20px 20px;
}

/*End contact styling*/

@media (min-width: 768px) {
  #landing-header {
    display: none;
  }

  #landing-carousel {
    display: block;
  }

  .carousel-inner {
    width: 100%;
    min-height: 200px !important;
    max-height: 400px !important;
    vertical-align: middle;
  }

  .carousel-inner img {
    width: 100%;
  }

  .carousel-caption {
    position: absolute;
    top: 50px;
    left: 15%;
    right: 60%;
    text-align: left;
  }
}

#landing-nav button {
  min-height: 50px;
  margin-bottom: 6px;
}

@media (min-width: 768px) {
  #landing-nav {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 6px;
  }

  #landing-nav button {
    min-height: 200px;
    margin: 6px;
    font-size: 1.8rem;
  }
}
