/* ========== primary navigation ========== */
#primary-nav {
  background-color: #5A3453;
  border-bottom: 0px;
  box-shadow: 0px 1px 10px rgba(33, 29, 28, 0.5);;
}

#navbar li a {
  color: #EDEAE9;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
}

#navbar li.active a, #navbar li:active, #navbar li:hover {
  background-color: #7D6177;
}

#navbar li a:hover {
  color: #FEC250;
}

#greeting {
  color: white;
}

#greeting a {
  color: white;
  text-decoration: none;
}

#greeting a:hover {
  color: #FC9F3B;
}

/* ========== general ========== */
.section-header {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #5A3453;
  margin-top: 36px;
}

.section-title {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #5A3453;
}

button .glyphicon {
  font-size: 80%;
}

.nav-inline {
  margin-bottom: 12px;
}

/* ========== landing page links ========== */
#landing-nav button {
  background-color: #5A3453;
  border-radius: 5px;
  border-color: #7D6177 #664766 #664766 #7D6177;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

#landing-nav button:first-child, #landing-nav button:last-child {
  background-color: #FCAB55;
  border-color: #FEC250 #FC9F3B #FC9F3B #FEC250;
}

/* ========== buttons with our color scheme ========== */
.btn-orange {
  background-color: #FEC250;
  border: 0px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.btn-orange:active,
.btn-orange:hover,
.btn-orange:focus {
  background-color: #FC9F3B;
  color: white;
}

.btn-purple {
  background-color: #5A3453;
  border: 0px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.btn-purple:active,
.btn-purple:hover,
.btn-purple:focus {
  background-color: #7D6177;
  color: white;
}

/* ========== gift wall page claim buttons ========== */
#sec-wall .selected, #sec-admin .selected {
  background-color: #EDEAE9;
}

#sec-wall .selected .btn-orange {
  background-color: #7D6177;
}

#sec-wall .selected .btn-orange:active,
#sec-wall .selected .btn-orange:hover,
#sec-wall .selected .btn-orange:focus {
  background-color: #5A3453;
}

/* ========== displaying requests ========== */
#entry th, #admin-table th {
  background-color: #5a3440;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0.5px;
}

.amount {
  text-align: right;
}

.wall-grid-request {
  border: 1px solid #5a3453;
  border-radius: 20px;
}

#wall-view-type button .glyphicon {
  font-size: 120%;
}

#wall-view-type button {
  padding: 6px 10px 4px 10px;
  color: #E0DBDA;
}

#wall-view-type button.selected {
  color: #5A3453;
}

/* ========== checkout page ========== */
#checkout-total {
  font-weight: bold;
}

#checkout-success h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

#checkout-success button {
  background-color: #3c763d;
  border: 0px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

#checkout-confirm {
  font-size: 1.4rem;
  min-width: 20%;
}

#checkout-confirm, .bigger-btn {
  font-size: 1.4rem;
  min-width: 20%;
}

/* ========== admin page ========== */
#admin-status button {
  color: rgba(0, 0, 0, 0.3);
}

#admin-status button.selected {
  color: #5A3453;
  font-weight: bold;
}

/* ========== stats page ========== */
.stats-header, .stats-title, .stats-subtitle, .stats-num {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.stats-header {
  background-color: #5A3453;
  color: #FFFFFF;
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 20px;
}

.stats-header-orange {
  background-color: #FEC250;
  padding: 7px;
  font-size: 1em;
}

.stats-subtitle {
  color: #5A3453;
  font-size: 1.1em;
  margin-bottom: 3px;
}

.stats-num {
  color: #5A3453;
  font-size: 3em;
  background-color: #EDEAE9;
  border-radius: 100%;
  padding: 20px;
}

.stats-title {
  color: #5A3453;
  font-size: 1.6em;
  margin-bottom: 12px;
}
